<% include common/header %>

    </br>
    <div class="container">
        <h1>Votre inscription pour le tirage au sort a bien été prise en compte</h1>
        </br>
        <a href="/">
            <img src="images/banderole.png" alt="groupe Capgemini" width="50%">
        </a>
        <h2>Passez une bonne journée !</h2>
        <a href="http://localhost:8000/" rel="nofollow" target="">
        </a>
        <p>Cliquer sur l'image pour revenir à l'accueil</p>
        </br>
    </div>
    <% include common/footer %>