<% include common/header %>
    <div class="container">
        <h1>Liste des visiteurs du salon :</h1>
        <div id="list">
        </div>
    </div>

    <script>
        var my_id = <%- JSON.stringify(my_id) %>;
        const url = '/notes/' + my_id;
        var i = 0;

        fetch(url)
            .then((resp) => resp.json())
            .then(function(list) {
                var i = 0;
                var htmlList = "<table><tr><th>Nom</th><th>Prenom</th><th>Numéro de téléphone</th><th>Email</th></tr>";

                while (list[i]) {
                    htmlList = htmlList + "<tr><td>";
                    htmlList = htmlList + list[i].nom;
                    htmlList = htmlList + "</td><td>";
                    htmlList = htmlList + list[i].prenom;
                    htmlList = htmlList + "</td><td>";
                    htmlList = htmlList + list[i].telephone;
                    htmlList = htmlList + "</td><td>";
                    htmlList = htmlList + list[i].email;
                    htmlList = htmlList + "</td></tr>";
                    i++;
                }
                htmlList = htmlList + "</table>"
                document.getElementById("tab").innerHTML += htmlList;
            })
            .catch((error) => {
                console.log(JSON.stringify(error));
            });
    </script>

    <div class="container" id="tab">
        </br>
    </div>
    <div class="container" id="form">
        </br>
        <button type="submit" onclick="UserAction()">Supprimer</button>
    </div>
    <script>
        var id_salon = <%- JSON.stringify(my_id) %>;

        function UserAction() {
            var full = "/visiteurs/" + id_salon;
            $.ajax({
                url: full,
                type: 'DELETE',
                success: function(result) {
                    document.location.href = "http://localhost:8000/login";
                }
            });
        }
    </script>
    </br>
    </br>
    </br>
    </br>
    <% include common/footer %>