<% include common/header %>
    <div class="container">
        <h1>Entrez votre mot de passe afin de séléctionner un salon :</h1>
        </br>
        </br>
        <form action="/login_password" name="password" method="post">
            <input type="password" name="password" value="" placeholder="mot de passe">
            <button type="submit" class="">Valider</button>
        </form>
        </br>
    </div>
    <% include common/footer %>