<% include common/header %>
    <p>
        L'accès à cette page du serveur n'est pas autorisé.</br>
        <a href="/" rel="nofollow" target="">        
        Merci de cliquer sur cette phrase pour revenir à l'acceuil
    </a>
    </p>
    <% include common/footer %>