<% include common/header %>
    <div class="container">
        </br>
        <div id="random">
            <ul class="name">
            </ul>
        </div>
        </br>
    </div>
    </br>
    <a href="/" rel="nofollow" target="">
        Cliquer sur ce lien pour revenir à l'accueil
    </a>
    </br>
    </br>
    <div class="container">
        </br>
        <p>Personne n'a été inscrit aujourd'hui</p>
        </br>
        </br>
        Quelques informations :
        <div id="stat">
            <p class="stat">
            </p>
        </div>
        </br>
    </div>
    <script>
        var nb = <%- JSON.stringify(nb) %>;
        var inscrits = "<p>Nombre de personnes inscrites : ";
        inscrits = inscrits + nb;
        inscrits = inscrits + "</p>";
        document.getElementById("stat").innerHTML += inscrits;
    </script>
    <% include common/footer %>