<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- This script loads your compiled module.-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jsqrscanner.nocache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db5945">
    <!--Link-->
    <link rel="icon" sizes="192x192" href="/images/sogeti_splash.jpeg">
    <link type="text/css" rel="stylesheet" href="css/JsQRScanner.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="/scripts/manifest.json">
    <link rel="canonical" href="http://localhost:8000/" />
    <!--<link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">-->
    <title></title>
</head>

<body>
    <script>
        $(function() {
            $.getJSON('site_map.json', function(data) {
                var obj = data; //tous le fichier JSON dans un obj
                var site_map = Object.keys(obj);
                document.querySelector("title").textContent += data[site_map[0]];
                document.getElementById("title").innerHTML = data[site_map[0]];
            });
        });
    </script>

    <!--<script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                    });
                });
                }
            </script>-->
    <header>
        <div class="head_all">
            <a href="http://localhost:8000/login" rel="nofollow" target="">
                <img class="left" src="images/logo.jpg" alt="groupe Sogeti" width="30%">
            </a>
            <div>
                <font color="white">
                    <h1 id="title"></h1>
                </font>
            </div>
        </div>
    </header>