</body>
<footer>
    <div class="foot-cols foot-col4">
        <div class="footer-content">
            <div class="row">
                <div class="col-sm-8">
                    <p>CONDITIONS D'UTILISATION :</br>
                        Les données nécessaires pour répondre à une obligation légale</br>
                        réglementaire peuvent être archivées le temps nécessaire à</br>
                        l’accomplissement de l’obligation en cause.</br>
                        Les données archivées doivent être supprimées lorsque </br>
                        leur archivage n’a plus raison d’être.</p>
                    </br>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Découvrez le groupe Sogeti</strong>
                    </p>
                    <p>
                        <a href="https://www.fr.sogeti.com/" rel="nofollow" target="_blank">
                            <strong>
                                    <img src="/images/logo.jpg" alt="groupe Capgemini" width="107" height="26">
                            </strong>
                        </a>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        <strong>Sogeti France S.A.S.</strong>
                        <br> Siège social : 22-24&nbsp; rue du Gouverneur Général Eboué 92136 Issy-les-Moulineaux cedex
                        <br>Tel : +33 (0)1 55 00 12 00
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>