<% include header/headerSalon.ejs %>


    </br>
    <script>
        function extractUrlParams(){   
        var t = location.search.substring(1).split('?');
        var f = [];
        for (var i=0; i<t.length; i++){
            var x = t[ i ].split('=');
            f[x[0]]=x[1];
        }
        return f;
    }
           function getCookie(name){
            if(document.cookie.length == 0)
                return null;

            var regSepCookie = new RegExp('(; )', 'g');
            var cookies = document.cookie.split(regSepCookie);

            for(var i = 0; i < cookies.length; i++){
                var regInfo = new RegExp('=', 'g');
                var infos = cookies[i].split(regInfo);
                if(infos[0] == name){
                    return unescape(infos[1]);
                }
            }
            return null;
        }   
    var token = getCookie("token");
    var listeparam = extractUrlParams();
    var id_salon = listeparam.id_salon;

    function retourlistesalons() {        
        window.location.href= window.location.origin+"/pages/gestionsalon";
    }
        
    </script>
    <div class="container">
    <a style="color:#ff6e46; font-size: 1.3em" onclick="retourlistesalons()">
                <button><- Liste des salons </button>
    </a>
    <div class="row">
		<div class="hidden-xs col-md-2"></div>
		<div class="col-xs-12 col-md-8">
        <form class="form-signin" id="form-signin">
            <div class="form-group">
                <label for="ville">Ville du salon *</label>
                <input type="text" class="form-control" name="ville" placeholder="ville du salon" required>
            </div>
            <div class="form-group">
                <label for="nom">Nom du salon *</label>
                <input type="text" class="form-control" name="nom" placeholder="nom du salon" required>
            </div>
            <div class="form-group">
                <label for="description_salon">Description du salon:</label>
                <textarea class="form-control" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="logo_salon">logo</label>
                <input type="file" id="logo" name="logo" enctype="multipart/form-data"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            </div>
            <div class="form-group">
                <label for="debut_salon">Du : *</label>
                <input type="date" class="form-control" name="date_debut" required>
            </div>
            <div class="form-group">
                <label for="fin_salon">Au : *</label>
                <input type="date" class="form-control" name="date_fin" required>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Valider</button>
            </br>
            <label>* : Champs obligatoire</label>
            </br>
            </br>
        </form>
        </div>
		<div class="hidden-xs col-md-2"></div>
    </div>
    </div>
    <script>
        /**
         * permet de ne pas save les champs vide
         */
        const handleFormSubmit = event => {
            var form = $('#form-signin')[0];
            var data = new FormData(form);
            event.preventDefault();
            
            // const data = formToJSON(form.elements);
            // var json_form = JSON.stringify(data, null, " ");
            
            
             $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: url+'/rest/fileupload',
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                headers:{
                    "x-access-token": token
                },
                contentType: false,
                cache: false,
                success: (chemin) => {
                    console.log(chemin);

                    const isValidElement = element => {
                            return element.name && element.value;
                        };
                        const isValidValue = element => {
                            return (!['checkbox', 'radio'].includes(element.type) || element.checked);
                        };
                        const formToJSON = elements => [].reduce.call(elements, (data, element) => {
                            if (isValidValue(element)) {
                                if (isCheckbox(element)) {
                                    data[element.name] = (data[element.name] || []).concat(element.value); 
                                } else {
                                    data[element.name] = element.value;
                                }
                            }
                            if (chemin) {
                                data["logo"] = chemin;
                            }
                            return data;
                        }, {});
                    var data = formToJSON(form.elements);
                    var json_form = JSON.stringify(data, null, " ");
                    console.log(json_form);               
                    console.log(typeof(data));
                    
                    $.ajax({
                        type: "POST",
                        url: url+'/rest/salon/add',
                        contentType: "application/json; charset=utf-8",
                        headers:{
                            "x-access-token": token
                        },
                        dataType : "json",
                        data : json_form,
                        success : function(result) {
                            console.log(result);
                            if (result == 200) {
                                console.log(result);
                                
                                window.location.pathname="/pages/gestionsalon";
                            }
                            else {
                                alert("erreur 500: veuillez recommencer")
                            }
                        },
                        error : function(resultat, statut, erreur){
                            console.log(resultat);
                            console.log(token);
                                            
                        },
                        // complete : function(resultat, statut){
                        //         // console.log(resultat);
                        // }
                    });
                },
                error: (e) => {
                    
                }
            });
            
        };
        const form = document.getElementsByClassName('form-signin')[0];
        form.addEventListener('submit', handleFormSubmit);
        const reducerFunction = (data, element) => {
            data[element.name] = element.value;
            console.log(JSON.stringify(data));
            return (data);
            // var add_salon = 1;
        };
        const isCheckbox = element => element.type === 'checkbox';
        const isMultiSelect = element => element.options && element.multiple;
    </script>

