<% include header/headerContact.ejs %>
<div id="all">
    <img class="background" id="logo_salon" src="/images/oser.png" alt="groupe Capgemini" width="0%">
</div>
<script>
    function extractUrlParams(){   
        var t = location.search.substring(1).split('?');
        var f = [];
        for (var i=0; i<t.length; i++){
            var x = t[ i ].split('=');
            f[x[0]]=x[1];
        }
        return f;
    }
    var listeparam = extractUrlParams();
    function getCookie(name){
            if(document.cookie.length == 0)
                return null;

            var regSepCookie = new RegExp('(; )', 'g');
            var cookies = document.cookie.split(regSepCookie);

            for(var i = 0; i < cookies.length; i++){
                var regInfo = new RegExp('=', 'g');
                var infos = cookies[i].split(regInfo);
                if(infos[0] == name){
                    return unescape(infos[1]);
                }
            }
            return null;
        }   
    var token = getCookie("token");  
    var id_salon = listeparam.id_salon;
    
    function retourlistesalons() {
        window.location.href="/pages/gestionsalon";
    }
</script>
<div class="container">
    <div class="row">
        <div style="padding-top: 10px">
            <a style="color:#ff6e46; font-size: 1.3em" onclick="retourlistesalons()">
                    <button><- Liste des salons </button>
            </a>
        </div>
    </div>
</div>

<script>

$(document).ready(function () {
    var url= "";
            
    $.ajax({
        type: "GET",
        url:'/rest/salon',
        contentType :"application/json; charset=utf-8",
        headers:{
            "x-access-token": token
        },
        dataType : "json",                                
        success : function(salons) {             
            var listeSalon = "<h1>";
            var selected= '';
            var i = 0;
            listeSalon += "<select id = 'salon' class='btn btn-lg btn-primary btn-block' name='salons'  size='1' onchange='changeSalon(this.value)'>";
            // listeUser += "<option value = 'adduser'> Ajouter un utilisateur </option>";
            while (salons[i]) {
                if (salons[i]) {
                    selected= '';
                    if (salons[i]._id == id_salon) {
                        selected = 'selected'; 
                    }
                    listeSalon += "<option value ="+salons[i]._id+" "+selected+">"+salons[i].nom+"</option>";
                }
                i++;
            }      
            if (id_salon == "all"){
                listeSalon += '<option value="all" selected >ALL</option><br/>';
            }else{
                listeSalon += '<option value="all" >ALL</option><br/>';
            }         
            listeSalon += "</select> </h1>"; 
            document.getElementById("listeSalon").innerHTML += listeSalon;
        }
    })
})


</script>
    <div class="container">
        <h1>
        <div id="listeSalon"> </div>
        </h1>
        </br>
        <div id="list"> </div>
        </br>

          <form class="form-signin" method="post">
              <input id = "csv" class="btn btn-lg btn-primary btn-block" type="submit" value="Télécharger au format csv !">
          </form>


    </div>
    <script>
        $(document).ready(function () {
            if (id_salon == "all") {
                var url = "/rest/contact"
            }
            else{
                var url = "/rest/contact/salon/"+ id_salon;
            }
                    
            $.ajax({
                type: "GET",
                url: url,
                contentType :"application/json; charset=utf-8",
                headers:{
                    "x-access-token": token
                },
                dataType : "json",                                
                success : function(Listecontacts) {
                    var i = 0;
                    var visiteurs = "<table><tr><th>Nom</th><th>Prenom</th><th>Numéro de téléphone</th><th>Email</th></tr>";

                    while (Listecontacts[i]) {
                        if (Listecontacts[i]) {
                            visiteurs = visiteurs + "<tr><td>";
                            visiteurs = visiteurs + Listecontacts[i].nom;
                            visiteurs = visiteurs + "</td><td>";
                            visiteurs = visiteurs + Listecontacts[i].prenom;
                            visiteurs = visiteurs + "</td><td>";
                            visiteurs = visiteurs + Listecontacts[i].telephone;
                            visiteurs = visiteurs + "</td><td>";
                            visiteurs = visiteurs + Listecontacts[i].email;
                            visiteurs = visiteurs + "</td></tr>";
                        }
                        i++;
                    }
                    if (i == 0) {
                    document.getElementById("csv").style.visibility = "hidden";
                    }
                    else {
                    document.getElementById("csv").style.visibility = "visible";
                    }
                    visiteurs = visiteurs + "</table>"
                    document.getElementById("list").innerHTML += visiteurs;
                }
            })
        })
    function changeSalon(idSalon) {
        window.location.href="/pages/contact?id_salon="+idSalon;
    }
    </script>




    <script>
        /**
         * permet de ne pas save les champs vide
         */
        const isValidElement = element => {
            return element.name && element.value;
        };
        const isValidValue = element => {
            return (!['checkbox', 'radio'].includes(element.type) || element.checked);
        };
        const formToJSON = elements => [].reduce.call(elements, (data, element) => {
            if (isValidValue(element)) {
                if (isCheckbox(element)) { data[element.name] = (data[element.name] || []).concat(element.value); } else {
                    data[element.name] = element.value;
                }
            }
            return data;
        }, {});
                    function exportCSVFile(headers, items, fileTitle) {
                if (headers) {
                    items.unshift(headers);
                }

                // Convert Object to JSON
                var jsonObject = JSON.stringify(items);

                var csv = this.convertToCSV(jsonObject);

                var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

                var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
                if (navigator.msSaveBlob) { // IE 10+
                    navigator.msSaveBlob(blob, exportedFilenmae);
                } else {
                    var link = document.createElement("a");
                    if (link.download !== undefined) { // feature detection
                        // Browsers that support HTML5 download attribute
                        var url = URL.createObjectURL(blob);
                        link.setAttribute("href", url);
                        link.setAttribute("download", exportedFilenmae);
                        link.style.visibility = 'hidden';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
            }
            function convertToCSV(objArray) {
                var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
                var str = '';

                for (var i = 0; i < array.length; i++) {
                    var line = '';
                    for (var index in array[i]) {
                        if (line != '') line += ';'  
                        if (typeof array[i][index] == "string") {
                            array[i][index]= (array[i][index]).replace(";", ",");
                        }
                       line += array[i][index];                        
                    }
                    
                    
                    str += line + '\r\n';                    
                }
                return str;
            }
            function exportCSVFile(headers, items, fileTitle) {
                if (headers) {
                    items.unshift(headers);
                }

                // Convert Object to JSON
                var jsonObject = JSON.stringify(items);

                var csv = this.convertToCSV(jsonObject);

                var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

                var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
                if (navigator.msSaveBlob) { // IE 10+
                    navigator.msSaveBlob(blob, exportedFilenmae);
                } else {
                    var link = document.createElement("a");
                    if (link.download !== undefined) { // feature detection
                        // Browsers that support HTML5 download attribute
                        var url = URL.createObjectURL(blob);
                        link.setAttribute("href", url);
                        link.setAttribute("download", exportedFilenmae);
                        link.style.visibility = 'hidden';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
            }    
        const handleFormSubmit = event => {
            event.preventDefault();
            const data = formToJSON(form.elements);
            var json_form = JSON.stringify(data, null, " ");
            console.log(json_form);

            if (id_salon == "all") {
                var url = "/rest/contact"
            }
            else{
                var url = "/rest/contact/salon/"+ id_salon;
            }
            $.ajax({
                type: "GET",
                url: url,
                contentType :"application/json; charset=utf-8",
                headers:{
                "x-access-token": token
                },
                dataType : "json",                                
                success : function(items) {
                var fileTitle = 'ListeContactjs';
                
                var csv = exportCSVFile(req.body, items, fileTitle);             
                
                }
            })
        };
        const form = document.getElementsByClassName('form-signin')[0];
        form.addEventListener('submit', handleFormSubmit);
        const reducerFunction = (data, element) => {
            data[element.name] = element.value;
            return (data);
        };
        const isCheckbox = element => element.type === 'checkbox';
        const isMultiSelect = element => element.options && element.multiple;
    </script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #ff4511;
            color: white;
        }
    </style>
    </br>
    </br>
    </br>
    <!-- <?php include('common/footer.php'); ?> -->
</html>
