<% include header/headerContact.ejs%>

<div class="container">
    <div class="row">
         <div style="padding-top: 10px" id="retoursalon"></div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/scannedText.js"></script>
<div class="container">
    <div class="row">
		<div class="hidden-xs col-md-2"></div>
		<div class="col-xs-12 col-md-8">
            <div id="all">
                <img class="background" id="logo_salon" src="/images/oser.png" alt="groupe Capgemini" width="100%">
            </div>
            <br>   

            <div id = "listesaloncourant"></div>       

            <form class="form-signin">
                <div class="form-group" id="form">
                    <input id = "idsalon" type="hidden" name="id_salon" value="">
                    <% include ./infos_perso.ejs%>
                    <% include ./infos_competences.ejs%>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
                    </div>
                </div>
            </form>
		</div>
		<div class="hidden-xs col-md-2"></div>
    </div>
</div>

    <script>
        function getCookie(name){
            if(document.cookie.length == 0)
                return null;

            var regSepCookie = new RegExp('(; )', 'g');
            var cookies = document.cookie.split(regSepCookie);

            for(var i = 0; i < cookies.length; i++){
                var regInfo = new RegExp('=', 'g');
                var infos = cookies[i].split(regInfo);
                if(infos[0] == name){
                    return unescape(infos[1]);
                }
            }
            return null;
        }   
 
        if (getCookie("token")) {
            var lebutton = '<a style="color:#ff6e46; font-size: 1.3em" href="/pages/gestionsalon"><- Liste des salons </a>'
            document.getElementById("retoursalon").innerHTML= lebutton;
        } 
        document.getElementById("idsalon").value= id_salon;
        /**
         * permet de ne pas save les champs vide
         */
        const isValidElement = element => {
            return element.name && element.value;
        };
        const isValidValue = element => {
            return (!['checkbox', 'radio'].includes(element.type) || element.checked);
        };
        const formToJSON = elements => [].reduce.call(elements, (data, element) => {
            if (isValidValue(element)) {
                if (isCheckbox(element)) { data[element.name] = (data[element.name] || []).concat(element.value); } else {
                    data[element.name] = element.value;
                }
            }
            return data;
        }, {});
        const handleFormSubmit = event => {
            event.preventDefault();
            const data = formToJSON(form.elements);
            var json_form = JSON.stringify(data, null, " ");
            console.log(json_form);
            var url= "" ;
            $.ajax({
                type: "POST",
                url: url+'/rest/contact/add',
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : json_form,
                success : function(result) {
                    console.log(result);
                    if (result == 200) {
                        window.location.pathname="/pages/index";
                    }
                    else {
                        alert("erreur 500: veuillez recommencer")
                    }
                },
            });
        };
        const form = document.getElementsByClassName('form-signin')[0];
        form.addEventListener('submit', handleFormSubmit);
        const reducerFunction = (data, element) => {
            data[element.name] = element.value;
            return (data);
        };
        const isCheckbox = element => element.type === 'checkbox';
        const isMultiSelect = element => element.options && element.multiple;
    </script>
    <!-- <?php include('common/footer.php'); ?> -->
</html>
