<% include header/headerAuthentification%>

<div class="container">
    <div class="row">
            <div class="hidden-xs col-md-2"></div>
            <div class="col-xs-12 col-md-8">
    <h2>Inscription</h2>
    <div class="row-element-set row-element-set-QRScanner">
        <div id="all">
            <img class="background" src="/images/oser.png" alt="groupe Capgemini" width="100%">
        </div>
        </br>
        <form class="form-signin">
            <div class="row-element">
                <div class="form-field form-field-memo">
                    <div class="FlexPanel form-field-input-panel">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" name="login" placeholder="Login" id="login" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mot de passe</label>
                        <input type="password" class="form-control" name="pwd" placeholder="Mot de passe" id="pwd" required>
                    </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        </form>
    </br>
    </div>
    </div>
		<div class="hidden-xs col-md-2"></div>
    </div>
</div>



</br></br>

<script>
        function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }

    function eraseCookie(name) {
        createCookie(name,"",-1);
    }
    function getCookie(name){
            if(document.cookie.length == 0)
            return null;

            var regSepCookie = new RegExp('(; )', 'g');
            var cookies = document.cookie.split(regSepCookie);

            for(var i = 0; i < cookies.length; i++){
            var regInfo = new RegExp('=', 'g');
            var infos = cookies[i].split(regInfo);
            if(infos[0] == name){
                return unescape(infos[1]);
            }
            }
            return null;
        }
        // createCookie("token", "valuetoken", 1);
        eraseCookie("token");
        console.log(getCookie("token"));

    /**
     * permet de ne pas save les champs vide
     */
    const isValidElement = element => {
        return element.name && element.value;
    };
    const isValidValue = element => {
        return (!['checkbox', 'radio'].includes(element.type) || element.checked);
    };
    const formToJSON = elements => [].reduce.call(elements, (data, element) => {
        if (isValidValue(element)) {
            if (isCheckbox(element)) { data[element.name] = (data[element.name] || []).concat(element.value); } else {
                data[element.name] = element.value;
            }
        }
        return data;
    }, {});
    const handleFormSubmit = event => {
        event.preventDefault();
        const data = formToJSON(form.elements);
        var json_form = JSON.stringify(data, null, " ");
        var url= "" ;

        $.ajax({
            type: "POST",
            url: url+'/rest/authenticate',
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            data : json_form,
            success : function(result) { 
                if (result.token) {
                    document.cookie = 'token='+result.token+'; expires=Thu, 2 Aug 2022 20:47:11 UTC; path=/'
                    window.location.href="/pages/gestionsalon"; 
                }
                else {
                    alert("Mauvais login ou mot de passe");
                }
            },
            error : function(resultat, statut, erreur){  
                console.log(resultat);
                              
                alert("Erreur");          
            }
        });
    };
    const form = document.getElementsByClassName('form-signin')[0];
    form.addEventListener('submit', handleFormSubmit);
    const reducerFunction = (data, element) => {
        data[element.name] = element.value;
        console.log(JSON.stringify(data));
        return (data);
    };
    const isCheckbox = element => element.type === 'checkbox';
    const isMultiSelect = element => element.options && element.multiple;
</script>
