<% include header/headerSalon.ejs%>
<div id="barre"> </div>
    <style>
    #barre {
        display:block;
        text-align:center;
        font-size: 20px;
        color:white;
        background-color:rgb(38, 122, 201);
        margin-top: -20px;
        position: absolute;
        left: 0%;
        width: 100%;
        margin-left: 0px;
        border-top: -30px;
    }   
    </style>
<script>
    
function getCookie(name){
    if(document.cookie.length == 0)
        return null;

    var regSepCookie = new RegExp('(; )', 'g');
    var cookies = document.cookie.split(regSepCookie);

    for(var i = 0; i < cookies.length; i++){
        var regInfo = new RegExp('=', 'g');
        var infos = cookies[i].split(regInfo);
        if(infos[0] == name){
            return unescape(infos[1]);
        }
    }
    return null;
}
function extractUrlParams(){   
        var t = location.search.substring(1).split('?');
        var f = [];
        for (var i=0; i<t.length; i++){
            var x = t[ i ].split('=');
            f[x[0]]=x[1];
        }
        return f;
    }
var token = getCookie("token");
    var listeparam = extractUrlParams();
    var id_salon = listeparam.id_salon;

// var token = extractUrlParams().token || getCookie("token");

var token = getCookie("token");
</script>

<div class="container">
<a style="color:#ff6e46; font-size: 1.3em" onclick="retourlistesalons()">
            <button><- Liste des salons </button>
</a>
<h1>
        <div id="listeSalon"> </div>
        </h1>
        </br>
        <div id="list"> </div>
        </br>
<div class="row">
    <div class="hidden-xs col-md-2"></div>
    <div class="col-xs-12 col-md-8">
    <form class="form-signin" id="form-signin">
            <div class="form-group">
                    <label for="ville_salon"> Expéditeur : </label>
                    <input type="text" class="form-control" name="expediteur" id = "expediteur_mail" placeholder="expéditeur_email" required>
                </div>
        <div class="form-group">
            <label for="ville_salon"> Destinataire : </label>
            <input type="text" class="form-control" name="destinataire" id = "destinataire_mail" placeholder="destinataire_email" required>
        </div>
        <div class="form-group">
            <label for="nom_salon">Objet : </label>
            <input type="text" class="form-control" name="objet" id = "objet_mail" placeholder="objet_du_mail" required>
        </div>
        <div class="form-group">
            <label for="description_salon">Corps du message : </label>
            <textarea class="form-control" rows="3" name="corpsmail" id = "corps_mail"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Valider</button>
        </br>
    </form>
    </div>
    <div class="hidden-xs col-md-2"></div>
</div>
     
<script>
        // $(document).ready(function () {
        //     if (_id == "all") {
        //         var url = "/rest/sendmail/"
        //     }
        //     else{
        //         var url = "/rest/sendmail/salon/"+ _id;
        //     }
        // });
        
$(document).ready(function () {
    var url= "";
            
    $.ajax({
        type: "GET",
        url:'/rest/salon',
        contentType :"application/json; charset=utf-8",
        headers:{
            "x-access-token": token
        },
        dataType : "json",                                
        success : function(salons) {
            console.log(salons);
              
            var listeSalon = "<h1>";
            var selected= '';
            var i = 0;
            listeSalon += "<select id = 'salon' class='btn btn-lg btn-primary btn-block' name='salons'  size='1' onchange='changeSalon(this.value)'>";
            // listeUser += "<option value = 'adduser'> Ajouter un utilisateur </option>";
            while (salons[i]) {
                if (salons[i]) {
                    selected= '';
                    if (salons[i]._id == id_salon) {
                        selected = 'selected'; 
                    }
                    listeSalon += "<option value ="+salons[i]._id+" "+selected+">"+salons[i].nom_salon+"</option>";
                }
                i++;
            }      
            if (id_salon == "all"){
                listeSalon += '<option value="all" selected >ALL</option><br/>';
            }else{
                listeSalon += '<option value="all" >ALL</option><br/>';
            }         
            listeSalon += "</select> </h1>"; 
            document.getElementById("listeSalon").innerHTML += listeSalon;
        }
    })
})
function changeSalon(idSalon) {
        window.location.href="/pages/sendmail?token="+token+"?id_salon="+idSalon;
    }






//         $.ajax({
//                 type: "POST",
//                 url: '/rest/sendmail/',
//                 contentType :"application/json; charset=utf-8",
//                 headers:{
//                     "x-access-token": token
//                 },
//                 dataType : "json",                                
//                 success :function(result) {
//                     var collection = db.collection('contact').email;
//                         console.log( db.collection('contact').email);
//                             if (result == 200) {
//                                 document.getElementById('barre').innerHTML = "Mail envoyé !";
//                                 setTimeout(function() {
//                                      document.getElementById('barre').innerHTML = "";
//                                     },8000);
//                                 console.log(result);
//                             }
//                             else {
//                                 alert("erreur 500: veuillez recommencer")
//                             }
//                         },
//                         error : function(resultat, statut, erreur){
//                             console.log(resultat);
//                             console.log(token);
//                                              },
//                         // complete : function(resultat, statut){
//                         //         // console.log(resultat);
//                         // }
//                     });
//                 error: (e) => {
                    
//                 }
                
</script>
