
<% include header/headerSalon.ejs %>

    <script>
        function extractUrlParams(){   
            var t = location.search.substring(1).split('?');
            var f = [];
            for (var i=0; i<t.length; i++){
                var x = t[ i ].split('=');
                f[x[0]]=x[1];
            }
            return f;
        }
            var listeparam = extractUrlParams();
            var idSalon = listeparam.id_salon;      
            
            function getCookie(name){
                if(document.cookie.length == 0)
                    return null;

                var regSepCookie = new RegExp('(; )', 'g');
                var cookies = document.cookie.split(regSepCookie);

                for(var i = 0; i < cookies.length; i++){
                    var regInfo = new RegExp('=', 'g');
                    var infos = cookies[i].split(regInfo);
                    if(infos[0] == name){
                        return unescape(infos[1]);
                    }
                }
                return null;
            }   
    var token = getCookie("token");  

    </script>
    </br>
    <div id="barre"> </div>
    <style>
    #barre {
        display:block;
        text-align:center;
        font-size: 20px;
        color:white;
        background-color:rgb(38, 122, 201);
        margin-top: -20px;
        position: absolute;
        left: 0%;
        width: 100%;
        margin-left: 0px;
        border-top: -30px;
    }   
    </style>
    <div class="container">
    <a style="color:#ff6e46; font-size: 1.3em" onclick="retourlistesalons()">
        <button><- Liste des salons </button>
    </a>
    <div class="row">
		<div class="hidden-xs col-md-2"></div>
		<div class="col-xs-12 col-md-8">
        <form class="form-signin" name="formulaireDynamique">
            <div class="form-group">
                <label for="ville">Ville du salon *</label>
                <input id = "ville" type="text" class="form-control" name="ville" placeholder="ville du salon" value = "" required>
            </div>
            <div class="form-group">
                <label for="nom">Nom du salon *</label>
                <input id="nom" type="text" class="form-control" name="nom" placeholder="nom du salon" required>
            </div>
            <div class="form-group">
                <label for="description">Description du salon:</label>
                <textarea id = "description" class="form-control" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
            <label for="logo">logo</label>
                <input type="file" name="logo" />
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            </div>
            <div class="form-group">
                <label for="date_debut">Du : *</label>
                <input id="date_debut" type="date" class="form-control" name="date_debut" required>
            </div>
            <div class="form-group">
                <label for="date_fin">Au : *</label>
                <input id = "date_fin" type="date" class="form-control" name="date_fin" required>
            </div>
                <label for="QRCode"> Ajouter un élément du QRCode : </label><br>
                <input id= "buttonajout" name = "buttonajout" type="button" onclick="ajout(this);"  value="Ajouter"/>
            <div class="form-group">
                <label for="template_mail">Template de mail à envoyer</label>
                <textarea class="form-control" rows="3" name="template_mail"></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Valider</button>
            </br>
            <label>* : Champs obligatoire</label>
            </br>
            </br>
        </form>
        </div>
		<div class="hidden-xs col-md-2"></div>
    </div>
    </div>
    <script>
   function ajout(element, val){
    //   document.getElementById("buttonajout").style.visibility = "hidden";

      var formulaire = window.document.formulaireDynamique;
      // On clone le bouton d'ajout
      // var ajout = element.cloneNode(true);
      // Crée un nouvel élément de type "input"
      var champ = document.createElement("input");
      champ.className = "form-control";
      // Les valeurs encodée dans le formulaire seront stockées dans un tableau
      champ.name = "QRCode";
      champ.type = "text";
      if (val) {
        champ.value = val;
      }
      var sup = document.createElement("input");
      sup.value = "Supprimer";
      sup.type = "button";
      // Ajout de l'événement onclick
      sup.onclick = function onclick(event)
         {suppression(this);};
        
      // On crée un nouvel élément de type "p" et on insère le champ l'intérieur.
      var bloc = document.createElement("p");
      bloc.appendChild(champ);
    //   formulaire.insertBefore(ajout, element);
      formulaire.insertBefore(sup, element);
      formulaire.insertBefore(bloc, element);
   }
   function suppression(element){
       
        var formulaire = window.document.formulaireDynamique;
                
        // Supprime le bouton d'ajout
        // formulaire.removeChild(element.previousSibling);
        // Supprime le champ
        formulaire.removeChild(element.nextSibling);
        // Supprime le bouton de suppression
        formulaire.removeChild(element);
    }

    function retourlistesalons() {
        window.location.href="/pages/gestionsalon";
    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '/rest/salon/'+ idSalon,
            contentType :"application/json; charset=utf-8",
            headers:{
                "x-access-token": token
            },
            dataType : "json",                                
            success : function(salon_courant) {                
                document.getElementById("ville").value = salon_courant.ville;
                document.getElementById("nom").value = salon_courant.nom;
                document.getElementById("description").value = salon_courant.description;
                document.getElementById("date_debut").value = salon_courant.date_debut;
                document.getElementById("date_fin").value = salon_courant.date_fin;
                
                var listejs =  JSON.stringify(salon_courant);
                listejs = listejs.split(",");
                var nbrQRCode = 0;
                var QRCoderegex = /QRCode-*/;
                var liste2js;
                for (let index = 0; index < listejs.length; index++) {
                    if (listejs[index].match(QRCoderegex)) {
                        nbrQRCode++;
                        liste2js = listejs[index].split(":"); 
                        liste2js = liste2js[1];
                    }
                }
                for (let i = 0; i < listejs.length; i++) {
                    if (listejs[i].match(QRCoderegex)) {
                        nbrQRCode++;
                        liste2js = listejs[i].split(":"); 
                        liste2js = liste2js[1];                           
                        liste2js = liste2js.replace('"', "");
                        liste2js = liste2js.replace('"', "");
                        ajout(document.getElementById("buttonajout"), liste2js);
                    }
                }                
            }
        })
    });

        
        /**
         * permet de ne pas save les champs vide
         */
        const isValidElement = element => {
            return element.name && element.value;
        };
        const isValidValue = element => {
            return (!['checkbox', 'radio'].includes(element.type) || element.checked);
        };
        const formToJSON = elements => [].reduce.call(elements, (data, element) => {

            if (isValidValue(element) && element.name != "buttonajout") {
                if (isCheckbox(element) ) {
                    data[element.name] = (data[element.name] || []).concat(element.value); 
                } 
                else { 
                    if (element.name == "QRCode"){
                        data["QRCode-"+element.value] = element.value;
                    }                      
                    else {
                        data[element.name] = element.value;
                    }
               
                }
            }            
        
        
            return data;
        }, {});
        const handleFormSubmit = event => {
            event.preventDefault();
            var data = formToJSON(form.elements);
            var json_form = JSON.stringify(data, null, " ");
            console.log(json_form);
            
            var url2= "/rest/salon/update/" ;
                
            $.ajax({
                type: "POST",
                url: url2+idSalon,
                contentType :"application/json; charset=utf-8",
                headers:{
                    "x-access-token": token
                },
                dataType : "json",                
                data : json_form,
                
                complete : function(resultat, statut){
                    document.getElementById('barre').innerHTML = "Salon modifié !";
                    setTimeout(function() {
                        document.getElementById('barre').innerHTML = "";
                    },8000);                 
                }
            });
        };
        const form = document.getElementsByClassName('form-signin')[0];
        form.addEventListener('submit', handleFormSubmit);
        const reducerFunction = (data, element) => {
            message == 2;
            data[element.name] = element.value;
            return (data);
        };
        const isCheckbox = element => element.type === 'checkbox';
        const isMultiSelect = element => element.options && element.multiple;
    </script>

<% include footer/footer.ejs %>
